<%= render "layouts/admin_header" %>

<div class="container-fluid admin">
  <div class="row justify-content-center">
    <%= render "admins/questions/question_list", questions: @questions %>
  </div>
</div>
