<%= render "layouts/user_header" %>


<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 question-board">
        <div class="question-head">
          <div class="pin"></div>
          <div class="question-title">
            <h2>Question</h2>
          </div>
        </div>
        <%= render "questions/question_list", questions: @questions %>
      </div>
    </div>
  </div>
</section>
