<%= render "layouts/admin_header" %>


<div class="container-fluid admin">
  <div class="row justify-content-center">
    <div class="admin-search shadow-lg">
      <%= render "admins/seaches/search_form" %>
    </div>
  </div>
</div>
