<div class="new-article">
  <% if user_signed_in? %>
    <%= link_to new_article_path, class: "nav-link" do%><i class="fa fa-plus-square" aria-hidden="true" style="font-size: 40px;"></i> 新規投稿<% end %>
  <% end %>
</div>