<%= render "layouts/admin_header" %>

<div class="container-fluid admin">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="user-graph">
        <div class="title">
          <h4>日別ユーザー登録数</h4>
        </div>
        <%= line_chart @users.group_by_day(:created_at), discrete: true, ytitle: "登録ユーザー数", width: "1000px", height: "300px"%>
      </div>
    </div>
    <div class="col-md-10">
      <div class="graph">
        <div class="title">
          <h4>日別投稿数</h4>
        </div>
        <%= line_chart [{ name: "記事", data: @questions.group_by_day(:created_at) },{ name: "質問", data: @articles.group_by_day(:created_at)}], discrete: true, ytitle: "投稿数" %>
      </div>
    </div>
  </div>
</div>
